<%- include partials/header.ejs %>
   <div class="jumbotron">
    <h1 class="text-center"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>You can save your Business Contact Information when You login with you account..</p>
    </div>
 <%- include partials/footer.ejs %>
