<!--   author:Hongliang Liu 
   website name:Hongliang Liu
   Description:Assignment1 build simple personal profile website online.
 -->
<%- include partials/header.ejs %>
<!--Html session -->

 <div class="container">
        <form id="form1">
   
 
                  <div class="alert alert-success" role="alert">   $100        </div>
                  <div class="alert alert-info" role="alert"> $200</div>
                  <div class="alert alert-warning" role="alert">$300</div>
                  <div class="alert alert-danger" role="alert">$400</div>
              

    </form>
     
     
     <%- include partials/footer.ejs %>
